/* #hero_img {
    width: 1366px;
    height: auto;
  } */
.box {
  position: relative;
  height: 65vh;
  margin-bottom: 2%;

}

/* #A16984 */
.overlay {
  position: absolute;
  background-image: url("image/hero_img.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
}

.colour_overlay {
  position: absolute;
  z-index: 2;
  background-color: #68646160;

  /* #686461 */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;

}

.my-image{
  /* position:absolute; */
  border-radius: 50%;
  z-index: 3;
  height: 76px;
  width: 78px;
  /* margin-left: 43%; */
  border: 2px solid white;

}

ul {
  text-align: right;
  margin-right: 73px;
}
a{
  color:whitesmoke;
}

li {
  display: inline-block;
  padding: 10px;
  margin-right: 38px;
  font-size: large;

}

nav {
  position: relative;
  z-index: 2;
  padding-top: 26px;
}

.box1 {
  display:flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  margin-top: 4%;
  text-align: center;
  color: whitesmoke;
  width: 100%;
}
.h3 {
  margin-top: 9px;
}
button {
  border-radius: 30px;
  padding: 15px 25px;
  background-color: #A16984;
  color: whitesmoke;
  border: none;
}

.skilldiv {
  display: flex;
  justify-content: space-around;
  margin-top: 1%;
  

}

.skill {
  border-radius: 50%;
  background-color: #A16984;
  padding: 35px;
  border: 4px solid #935874;
  color:whitesmoke;
}



.me-section {
  text-align: center;
  margin: 50px 0;
}

.me-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.decorative-line {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 232px;
  margin: 0 auto;
}


.line1 {
  height: 5px;
  background-image: radial-gradient(circle, #bfb5b591 50%, rgba(255, 255, 255, 0) 51%);
  background-size:  8px 5px;
  flex-grow: 1;
  margin: 0 3px;
  padding-left: 20px;
 
}
.line2 {
  height: 5px;
  background-image: radial-gradient(circle, #bfb5b591 50%, rgba(255, 255, 255, 0) 51%);
  /* background-image: radial-gradient(circle, red 50%,yellow 51%); */
  background-size: 8px 5px;
  flex-grow: 1;
  margin: 0 3px;
  padding-left: 20px;
}

.arrow{
  width:15px;
  height:15px
}
.about_master{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  PADDing: 3%;
  padding-left: 10%;
  padding-right: 10%;

}
.about_div{
  padding:6%;
  padding-left: 10%;
  padding-right: 10%;

}
.about_pick{
  padding:3%;
}