/* #hero_img {
    width: 1366px;
    height: auto;
  } */
.box {
  position: relative;
  height: 60vh;
  margin-bottom: 3%;
}

/* #A16984 */
.overlay {
  position: absolute;
  background-image: url("image/hero_img.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;

}

.colour_overlay {
  position: absolute;
  z-index: 2;
  background-color: #68646160;

  /* #686461 */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;

}

ul {
  text-align: right;
  margin-right: 73px;
}

li {
  display: inline-block;
  padding: 10px;
  margin-right: 38px;
  font-size: large;

}

nav {
  position: relative;
  z-index: 2;
  padding-top: 26px;
}

.box1 {
  position: absolute;
  z-index: 2;
  margin-top: 10%;
  padding-left: 49%;
}

button {
  border-radius: 30px;
  padding: 15px 25px;
  background-color: #A16984;
  color: whitesmoke;
  border: none;
}

.skilldiv {
  display: flex;
  justify-content: space-around;
  margin-top: 3%;
  

}

.skill {
  border-radius: 50%;
  background-color: #A16984;
  padding: 40px;
  border: 4px solid #935874;
}

.myskill {

  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;  
  font-size: 30px;
  font-weight: 600;
}